<div class="row border-bottom pb-2 mt-2">
    <div class="col-9">
        <h4 class="text-secondary"><strong>{{job['title']}}</strong></h4>
        <div>
            <strong>Location: </strong>{{job['location']}}
        </div>
        <div class="mb-2">
            <strong>Salary: </strong>{{job['salary']}}{{job['currency']}} 
        </div>
    </div>
    <div class="col-3 d-flex justify-content-end align-items-center">
        <button type="button" class="btn btn-outline-primary">Apply</button>
    </div>
</div>
